.MyLink{
  text-decoration: none;
  color: aqua;
}
.h1{
  text-decoration: underline;
}
.overline{
  
  text-decoration: overline;
}

p{
  letter-spacing: 3px;
  line-height: 3em;
  word-spacing 10px;
  text-align: center;
  text-align justify;
}
.verticalAlign{
  vertical-align: middle;
}
.indent{
  text-indent: 5em;
}
.shadow{
  text-shadow: 1px 16px 0px red;
}
.pseudoElement:first-letter{
  font-size: 3em;
}
.pseudoElement{
  text-indent: 5em;
}
.pseudoElement:first-line{
  text-shadow: 1px 2px 3px orange;
}
.link:link{
  font-size 3em;
  color: blueviolet;
}
.link:visited{
  font-size 3em;
  color: pink;
}
.link:active{
  font-size 3em;
  color: red;
}
.hower1:hover{
  background-color: burlywood;
  
}
.table{
  width:70px;
  height:400px;
}
.input.focus{
  background-color: grey;
}