*{ padding:0;
margin:0;
  
}
  
  .parent{
   font-family:sans-serif; /*inherit*/
   color:aqua; /*inherit*/
   background color: burlywood;/*inherit*/
   margin:25px;
  }
  
  .child{
    background color: bisque;
    margin:inherit;
  }
  
  .myElement{
    /*color: burlywood;*/
    /*color: rgb(250,100,250);*/
    color: #875931;
    
  }
  .opacity{
    background-color rgb(16.148,104)
    margin:15px;
    padding:15px;
  }
  
  .lowopacity{
    opacity: 0.2;
    color: rgb(o,o,10);
    background:#032145;
  }